body {
    font-family: Poppins, sans-serif;
}

section {
    border: 0px;
    width: 80%;  
    margin: 20px;
    background-color: white;
    border-radius: 5px;
    padding: 30px;
}

main {
    display: flex;
    background-color: lightgray;
}

img {
    width: 70px;
    margin-bottom: 3px;
}

div {
    display: flex;
    justify-content: space-between;
    margin-left: 5px;
    margin-right: 5px;
}

.boxTwo {
    margin-top: 70px;
}

.cloud {
    width: 20px;
}