body {
    background-color: lightgray;
    padding: 10px 80px;
}

header img {
    width: 100px;
}

header {
    display: flex;
    align-items: center;
}

nav {
    background-color: white;
    color: black;
    height: 80px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 30px;
    padding-left: 25px;
    margin-bottom: 20px;
}

nav a {
    text-decoration: none;
    color: rgb(37, 37, 37);
}

.box1 {
    background-color: white;
    /* width: 100%; */
    height: 70px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding-left: 25px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.box2 {
    background-color: white;
    /* width: 200px; */
    height: 120px;
    border-radius: 10px;
    padding-left: 25px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.box3 {
    background-color: white;
    width: 70%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    padding-left: 25px;
    padding-top: 20px;
}

.container {
    display: flex;
}

footer {
    text-align: center;
    color: rgb(97, 97, 97);
}

.left {
    width: 30%;
}

@media screen and (max-width: 500px) {
    body {
        padding: 10px 5px;
    }

    nav a {
        color: rgb(85, 175, 207);
        text-decoration: underline;
        width: 100%;
        padding-bottom: 10px;

    }

    nav a:not(:last-child){
        border-bottom: 0.5px solid rgb(81, 81, 81);
        width: 100%;
    }

    nav {
        display: flex;
        flex-direction: column;
        padding: 10px;
        height: 180px;
        gap: 10px;
    }

    .box2 {
        display: none;
    }

    .container {
        display: block;
    }

    .left {
        width: 100%;
    }

    .box3 {
        width: 95%;
        margin-left: 0;
    } 
}