.gridContainer > div {
    border: 2px solid black;
    width: 75px;
}

.gridContainer {
    border: 2px solid red;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 150px;
    grid-template-rows: 100px 200px;
    /* justify-items: center;
    align-items: center;
    align-content: center; */
    gap: 20px;
}

.item1 {
    /* grid-column-start: 1;
    grid-column-end: 3; */
    /* grid-column: 2 / 3; */
    /* till the end: */
    grid-column: 1 / -1; 
    grid-row: 1 / 2;
}

.item2 {
    grid-column: span 2;
    grid-row: span 3;
}

.item3 {
    grid-row: 4 / 5;
    grid-column: 4 / 5;
}