/* 1 blokas: bendras elemento aukstis ir plotis 300px, kuri sudarys 30px padding ir 4px border */

* {
    box-sizing: border-box;
}

.block1 {
    width: 300px;
    height: 300px;
    padding: 30px;
    border: 4px solid blue;
}

/* 2 blokas: elemento aukstis ir plotis 300px, kuri sudarys 50px padding ir 4px border */

.block2 {
    height: 300px;
    width: 300px;
    padding: 50px;
    border: 4px solid red;
}

/* 3 blokas: turi buti 250px aukscio ir 200px plocio bei tureti 5px remeli */

.block3 {
    height: 250px;
    width: 200px;
    border: 5px solid green;
}