* {
    box-sizing: border-box;
}

:root {
    --primary-color: #645cff;
}

body {
    font-family: "Roboto", sans-serif;
}

.mainColor {
    color: var(--primary-color);
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 10px 30px;
}

.navigation {
    display: flex;
    gap: 10px;
    align-items: center;
}

.navigation a:hover {
    color: #433db1;
}

.headerNav {
    display: none;
    align-items: center;
    gap: 10px;
}

.headerNav a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.sectionContinue {
    height: 800px;
    background-color: var(--primary-color);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
    text-align: center;
    gap: 10px;
}

.sectionContinue h1 {
    margin: 0;
}

.thinText {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.paragraphHeight {
    line-height: 25px;
}

.buttonExplore {
    box-shadow: 0 1px 0.5px 1px #5b53ec;
    background-color: var(--primary-color);
    color: white;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    padding: 10px;
}

.buttonExplore:hover {
    background-color: #433db1;
}

.sectionAbout {
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 19px 0 19px;
}

.boxImage {
    display: flex;
    flex-direction: column;
}

.aboutContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imageSize {
    width: 400px;
}

.paragraphExplore {
    text-align: justify;
    padding: 0 28px;
}

.buttonReadMore {
    border: none;
    background-color: white;
    padding: 0;
    margin-top: 10px;
    cursor: pointer;
}

.buttonReadMore:hover {
    color: #433db1;
}

.paragraphSize {
    font-size: small;
}

.sectionOurServices {
    height: 500px;
    background-color: #f9fbfb;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.gridTemplate {
    display: grid;
    grid-template-columns: repeat(2 1fr);
    gap: 30px;
}

.boxWidth {
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.item2 {
    grid-column: 2;
    grid-row: 1;
}

.iconBox {
    background-color: var(--primary-color);
    padding: 10px;
}

.gridTemplate p {
    margin: 0;
}

.thinSmallerText {
    font-weight: 400;
    text-transform: uppercase;
}

.paragraphSizeSmaller {
    font-size: smaller;
    font-weight: 300;
}

.sectionFeaturedTours {
    height: 1900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.tourBoxes article {
    margin-bottom: 40px;
}

.pictureDateBox {
    background-color: var(--primary-color);
    width: 150px;
    height: 30px;
    text-align: center;
    padding-top: 8px;
    position: relative;
    top: 40px;
}

.buttonMap {
    color: var(--primary-color);
    border: none;
    background-color: white;
    cursor: pointer;
}

.buttonMap:hover {
    color: #5b53ec;

}

.articleThinText {
    font-weight: 400;
    margin-top: 0;
}

.mapDescription {
    display: flex;
    justify-content: space-between;
}

.paragraphMargin {
    margin: 0;
}

.articleBox {
    box-shadow: 0 1px 0.5px 1px rgb(231, 229, 229)
}

.positionAdjust {
    position: relative;
    bottom: 30px;
}

.informationBox {
    padding: 0 15px 20px 15px;
}

.textMargin {
    margin-bottom: 40px;
}

.sectionOurGallery {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ourGalleryBox {
    background-color: #f9fbfb;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.imageSizeGallery {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.galleryColor {
    background-color: var(--primary-color);
}

.galleryPhotos {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.sectionSignUp {
    min-height: 40vh;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 15px;
}

.thinTextUpdates {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 48px;
    text-align: center;
    color: white;
    margin: 0 0 10px 0;
    letter-spacing: 5px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.updatesBox {
    padding: 10px 5px 20px 5px;
    width: 40%;
}

.emailContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
}

.buttonSubmit {
    position: relative;
    bottom: 28px;
    left: 115px;
}

.thinSignUp {
    font-weight: 400;
    color: white;
    font-size: 15px;
    margin: 0;
    width: 200px;
}

.emailInput {
    height: 30px;
    width: 100%;
    padding: 0 10px;
}

footer {
    height: 250px;
    background-color: #222222;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 50px 0;
}

.footerNav a {
    color: white;
    text-decoration: none;
    padding: 0 10px;
    cursor: pointer;
}

.footerNav a:hover {
    color: var(--primary-color);
}

.icons a {
    padding: 0 8px;
    cursor: pointer;
}

.icons a:hover {
    color: #5b53ec;
}

footer p {
    color: white;
    line-height: 10px;
}

@media (min-width: 500px) {
    .headerNav {
        display: flex;
    }

    .sectionContinue {
        background-image: linear-gradient(to bottom, var(--primary-color), rgba(1, 1, 1, 0.73)), url("https://as2.ftcdn.net/v2/jpg/02/13/69/33/1000_F_213693383_HsNNClh6ARKI4ushOoxmnbclFPNUOpWW.jpg");
        background-size: cover;
        position: relative;
    }

    .sectionContinue h1 {
        font-size: 60px;
    }

    .sectionContinue p {
        padding: 0 100px;
    }

    .sectionAbout {
        padding: 0 40px;
        height: 500px;
    }

    .aboutContainer {
        flex-direction: row;
        gap: 20px;
    }

    .boxImage img {
        padding-top: 25px;
    }

    .imageBox {
        border: 5px solid var(--primary-color);
        border-radius: 5px;
        width: 400px;
        height: 250px;
        position: absolute;
        left: 20px;
        z-index: -1; 
    }

    .item3 {
        grid-column: 3;
        grid-row: 1;
    }

    .gridTemplate {
        gap: 80px;
    }

    .sectionOurServices {
        height: 350px;
    }

    .tourBoxes {
        display: grid;
        grid-template-columns: repeat(3 1fr);
        gap: 20px;
    }

    .article1 {
        grid-column: 1;
        grid-row: 1;
    }

    .article2 {
        grid-column: 2;
        grid-row: 1;
    }

    .article3 {
        grid-column: 3;
        grid-row: 1;
    }

    .sectionFeaturedTours {
        height: 1100px;
    }

    .imageSizeGallery {
        width: 25%;
        height: auto;
        object-fit: cover;
        margin: 0 auto;
        float: left;
    }

    .sectionOurGallery {
        min-height: 250px;
    }

    .galleryColor {
        background-color: white;
    }

    .sectionSignUp {
        min-height: 20vh;
    }

    .updatesBox {
        width: 60%;
    }

    .thinSignUp {
        width: 300px;
    }

    .emailInput {
        width: 130%;
    }

    .buttonSubmit {
        left: 300px;
    }

    
}