h3::before, 
h3::after, 
h5::before, 
h5::after {
    content: "XXX";
    color: red;
    padding: 10px;
}

nav a:not(:first-child)::before {
    content: "//";
}

p::selection {
    background-color: salmon;
    font-size: 20px;
}

h4:hover {
    font-size: 30px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:link {
    color: red;
}

a:visited {
    color: cadetblue;
}