body {
    background: linear-gradient(90deg, blue, purple, red);
    min-height: 100vh;
    color: white;
    font-family: 'Roboto', sans-serif;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Shaki_Waterfall2.jpg/260px-Shaki_Waterfall2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

img {
    box-shadow: 5px 5px 8px lightblue, -5px -5px 8px lightblue;
}